@import url('https://fonts.googleapis.com/css?family=Roboto');
#logo img{
	width: 60px;
	margin-left: 20px;
}
#contenido
{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
#msecundaria h4
{
	padding-left: 10PX;
}
#mprepa h4
{
	padding-left: 10px;
}
nav
{
	background-color: #b71c1c;
	font-weight: bold;

}

body
{
	background-color: #eeeeee;
	font-family: 'Roboto', sans-serif;

	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
footer
{
	padding: 10px;
	background-color: #b71c1c !important;
	-webkit-box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.14);
	box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.14);
}
.unico
{
	position: fixed;
	bottom: 0;
	width: 100%;
}
  main {
    flex: 1 0 auto;
  }